@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --white: #fff;
  --royal-blue: #2405F2;
  --dark-blue: #282938;
  --grey:#F4F6FC;
  --yellow:#FCD980;
  --tint-blue: #1C1E53;
  --acent: #EEF4FA;
  --yellow-transparent:#FCD9801A;
  --but-hover-contact-us: #535460;
  --but-view-our-work:#1B1C2B;
  --but-hover-view-our-work:#FDE4A6;
}
body{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: var(--white);
  color: var(--dark-blue);
}
*{
  margin: 0;
  padding: 0;
}
p, h1, h2, h3, h3, h4, h5, h6{
  margin: 0;
}
.heading_1{
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
  letter-spacing: 0em;
  text-align: left;
}

a{
  text-decoration: none;
}
.container{
  margin: 0 160px;
  padding: 16px 0;
}
.body2{
font-size: 16px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
}
/* header start */
header{
  background:var(--tint-blue);
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul{
  display: flex;
  list-style-type: none;
  align-items: center;
}
header ul li{
  margin: 0 32px 0 0;
}
header ul li a{
  color: #BBBBCB;
}
header ul li a:hover{
  color: var(--white);
}
header .btn_contact_us{
  color:var(--white);
  border: 2px solid rgba(244, 246, 252, 0.2);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  padding: 16px 48px 16px 48px;
  border-radius:41px;
}
header .btn_contact_us:hover{
  background:var(--but-hover-contact-us);
}
/* header FINISH */

/* contact_us START */
.contact_us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 160px;
}
.contact_us h2{
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  margin-bottom: 20px;
  max-width: 730px;
  text-align: center;
}
.contact_us p{
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  opacity: 70%;
  text-align: center;
  max-width: 562px;
}
.contact_us .contact{
  background: var(--yellow);
  border-radius: 41px;
  padding: 16px 66px;
  color: #1B1C2B;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  margin-top: 40px;
}
/* contact_us END */

/* description START */

/* *{
  border: 1px solid lightblue} */
/* description END */
.description_case{
  margin: 128px 269px 0;
}
.description_case p:first-child{
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}
.description_case h2{
  max-width: 646px;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}
.description_case p:nth-of-type(2){
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  max-width: 817px;
}

.description_case .back{
  background: linear-gradient(135deg , #F4EDE1, #98B1C6);
  margin: 48px auto;
  padding: 30px 40px;
  /*margin-bottom: 24px; */
  max-width: 1063px;
}
.description_case .back img{
  width: 100%;
}
.description_case .skills{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #BFBFC3;
}
.description_case .skills div p:first-child{
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  opacity: 80%;
}
.description_case .skills div p:last-child{
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 32px;
}
.description_case .project{
  margin: 96px auto 0;
  padding: 0 112px;
}
.description_case .project h3{
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
  margin-bottom: 12px;
}
.description_case .project p{
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 24px;
  opacity: 70%;
}
.description_case .project ul li{
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 16px;
  padding-left: 5px;
  margin-left: 17px;
}
.description_case .keywords{
  margin: 96px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;
  border-top: 1px solid #BFBFC3;
  border-bottom: 1px solid #BFBFC3;
}
.description_case .keywords p{
  margin: 24px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  opacity: 70%;
}
.description_case .keywords p:hover{
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: var(--royal-blue);
}





/* footer START */
footer{
  background: var(--tint-blue);
}
footer .footer_content{
  color: var(--white);
  margin: 0 160px;
  padding: 32px 0 0 0;
}
footer .description{
  display: flex;
  align-items:start;
}
footer .description p{
  margin: 0;
}
footer .description h2{
  margin: 0;
font-size: 48px;
font-weight: 600;
line-height: 64px;
}
footer .description .left_part{
  width:50%;
}
footer .description .left_part img{
  width: 100%;
  max-width: 160px;
  height: auto;
}
footer .description .left_part p{
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  padding-top: 24px;
  width: 75%;
}
footer .description .right_part{
  width:50%;
}
footer .description .right_part img{
  width: 16px;
  margin-right: 3%;
}
footer .description .right_part p{
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: var(--grey);
  padding-top: 10px;
  padding-bottom: 28px;
}
footer .contacts{
  background: var(--yellow);
  width: 42%;
  display: flex;
  color: var(--dark-blue);
}
footer .contacts div{
  margin: 3% 0 3% 7%;
}
footer .contacts div p:first-child{
font-size: 18px;
font-weight: 500;
line-height: 32px;
margin: 0;
}
footer .contacts div p:last-child{
  margin: 0;
font-size: 16px;
font-weight: 400;
line-height: 28px;
}
/* footer END */
/* navigation  bottom_menu START */
.bottom_menu{
  margin: 0 160px;
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:var(--white);
}
.bottom_menu ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.bottom_menu ul li{
  margin-right: 32px;
}
.bottom_menu ul li:hover{
  cursor:pointer;
}
.bottom_menu ul li a{
 color: var(--dark-blue);
}
.bottom_menu ul li a:hover{
  color: var(--but-hover-contact-us);
}
.bottom_menu ul li:last-child{
  margin-right: 0;
}
/* navigation  bottom_menu END */
