@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --white: #fff;
  --royal-blue: #2405F2;
  --dark-blue: #282938;
  --grey:#F4F6FC;
  --yellow:#FCD980;
  --tint-blue: #1C1E53;
  --acent: #EEF4FA;
  --yellow-transparent:#FCD9801A;
  --but-hover-contact-us: #535460;
  --but-view-our-work:#1B1C2B;
  --but-hover-view-our-work:#FDE4A6;
}
*{
  border: 1px solid lightseagreen;
}
body{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: var(--white);
}
a{
  text-decoration: none;
}
.send_form{
  margin: 128px 160px;
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  height: 691px;
  background: var(--tint-blue);
}
.send_form .left_content{
  position: relative;
  flex-basis: 50%;
}
.send_form .left_content img{
  width: 100%;
  height: 100%;
  opacity: 50%;
}
.send_form .left_content .img{
  height: 100%;
}
.send_form .left_content .text{
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  z-index: 1;
}
.send_form .left_content .text p{
  margin: 0;
}
.send_form .left_content h2{
  margin: 0;
  max-width: 464px;
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
  color: var(--white);
  margin-top: 8%;
  margin-left: 8%;
}
.send_form .left_content div p{
  max-width: 464px;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: var(--white);
  padding-left: 8%;
  padding-top: 24px;
}
.send_form .right_content{
  flex-basis: 50%;
}
.send_form .right_content p:nth-of-type(1){
  display: block;
  width: 432px;
  margin: 56px auto 16px;
font-size: 32px;
font-weight: 400;
line-height: 48px;
color: var(--white);
}
.send_form .right_content p:nth-of-type(2){
  display: block;
  width: 432px;
font-size: 16px;
font-weight: 500;
line-height: 28px;
color: var(--white);
margin: 0 auto 22px;
}
.send_form .right_content form input{
  display: block;
  height: 64px;
  width: 432px;
  background:  var(--tint-blue);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  margin: 18px auto;
}
.send_form .right_content form input[value]{
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: var(--grey);
  opacity: 50%;
  padding-left: 32px;
}
.send_form .right_content form button{
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  color: var(--but-view-our-work);
  width: 462px;
  background:var(--yellow);
  margin: 28px auto;
  padding: 15px 51px 15px 51px;
  border-radius: 41px;
}
.send_form .right_content a{
  display: block;
font-size: 18px;
font-weight: 500;
line-height: 32px;
color: var(--white);
text-align: center;
}
.send_form .right_content a:after{
  content:"\2192";
  margin-left: 10px;
}