@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --white: #fff;
  --royal-blue: #2405F2;
  --dark-blue: #282938;
  --grey:#F4F6FC;
  --yellow:#FCD980;
  --tint-blue: #1C1E53;
  --acent: #EEF4FA;
  --yellow-transparent:#FCD9801A;
  --but-hover-contact-us: #535460;
  --but-view-our-work:#1B1C2B;
  --but-hover-view-our-work:#FDE4A6;
}
/* *{
  border: 1px solid lightseagreen;
} */
body{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.heading_1{
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
  letter-spacing: 0em;
  text-align: left;
}

a{
  text-decoration: none;
}
.container{
  margin: 0 160px;
  padding: 16px 0;
}
.body2{
font-size: 16px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
}
/* header start */
header{
  background:var(--tint-blue);
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul{
  display: flex;
  list-style-type: none;
  align-items: center;
}
header ul li{
  margin: 0 32px 0 0;
}
header ul li a{
  color: #BBBBCB;
}
header ul li a:hover{
  color: var(--white);
}
header .btn_contact_us{
  color:var(--white);
  border: 2px solid rgba(244, 246, 252, 0.2);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  padding: 16px 48px 16px 48px;
  border-radius:41px;
}
header .btn_contact_us:hover{
  background:var(--but-hover-contact-us);
}
/* section HEADER start */
.header{
  background:var(--tint-blue);
}
.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .left_content{
  width:50%;
  box-sizing: content-box;
  color: var(--white);
}
.header .right_content{
  width:50%;
}
.header .right_content img{
  width: 100%;
  height: auto;
}
.header p{
  opacity: 0.7;
}
.header .buttons{
  display: flex;
  justify-content: left;
  align-items: center;
}
.header .buttons .view_work{
  width: 230px;
  height:64px;
  border-radius: 41px;
  background:var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .buttons .view_work a{
  color: var(--but-view-our-work);
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
}
.header .buttons .view_work:hover{
cursor: pointer;
background:var(--but-hover-view-our-work);
}
.header .buttons .view_pricing a{
font-size: 16px;
font-weight: 500;
color: var(--white);
}
.header .buttons .view_pricing{
  margin-left: 10%;
}
.header .buttons .view_pricing a:hover{
  color: var(--but-hover-contact-us);
}
.header .buttons .view_pricing a:after{
  content:"\2192";
}
/* section HEADER end */

/* section how_we_work START */
.how_we_work{
  background:var(--grey);
  display: flex;
  padding: 120px 160px 130px 160px;
}
.how_we_work .left_block{
  width: 40%;
}
.how_we_work .left_block h2{
font-size: 48px;
font-weight: 600;
line-height: 64px;
color: var(--dark-blue);
}
.how_we_work .left_block p:nth-of-type(1){
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: var(--dark-blue);
  padding-top: 16px;
}
.how_we_work .left_block p:nth-of-type(2){
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: var(--royal-blue);
  padding-top: 16px;
}
.how_we_work .left_block p:nth-of-type(2):after{
  content:"\2192";
}
.how_we_work p, .how_we_work h2, .how_we_work h5{
  margin: 0;
}
.how_we_work .item{
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 72px;
}
.how_we_work .item div{
  max-width: 328px;
  padding-bottom: 16px;
}
.how_we_work .item div img{
  width: 100%;
  max-width: 50px;
  height: auto;
}
.how_we_work .item div h5{
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  color: var(--dark-blue);
}
.how_we_work .item div p{
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: var(--dark-blue);
  padding-top: 16px;
  margin-right: 26px;
}
/* section how_we_work END */




/* section  START */
/* section  END */





/* footer START */
footer{
  background: var(--tint-blue);
}
footer .footer_content{
  color: var(--white);
  margin: 0 160px;
  padding: 32px 0 0 0;
}
footer .description{
  display: flex;
  align-items:start;
}
footer .description p{
  margin: 0;
}
footer .description h2{
  margin: 0;
font-size: 48px;
font-weight: 600;
line-height: 64px;
}
footer .description .left_part{
  width:50%;
}
footer .description .left_part img{
  width: 100%;
  max-width: 160px;
  height: auto;
}
footer .description .left_part p{
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  padding-top: 24px;
  width: 75%;
}
footer .description .right_part{
  width:50%;
}
footer .description .right_part img{
  width: 16px;
  margin-right: 3%;
}
footer .description .right_part p{
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: var(--grey);
  padding-top: 10px;
  padding-bottom: 28px;
}
footer .contacts{
  background: var(--yellow);
  width: 42%;
  display: flex;
  color: var(--dark-blue);
}
footer .contacts div{
  margin: 3% 0 3% 7%;
}
footer .contacts div p:first-child{
font-size: 18px;
font-weight: 500;
line-height: 32px;
margin: 0;
}
footer .contacts div p:last-child{
  margin: 0;
font-size: 16px;
font-weight: 400;
line-height: 28px;
}
/* footer END */

/* navigation  bottom_menu START */
.bottom_menu{
  margin: 0 160px;
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:var(--white);
}
.bottom_menu ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.bottom_menu ul li{
  margin-right: 32px;
}
.bottom_menu ul li:hover{
  cursor:pointer;
}
.bottom_menu ul li a{
 color: var(--dark-blue);
}
.bottom_menu ul li a:hover{
  color: var(--but-hover-contact-us);
}
.bottom_menu ul li:last-child{
  margin-right: 0;
}
/* navigation  bottom_menu END */
