@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --white: #fff;
  --royal-blue: #2405F2;
  --dark-blue: #282938;
  --grey:#F4F6FC;
  --yellow:#FCD980;
  --tint-blue: #1C1E53;
  --acent: #EEF4FA;
  --yellow-transparent:#FCD9801A;
  --but-hover-contact-us: #535460;
  --but-view-our-work:#1B1C2B;
  --but-hover-view-our-work:#FDE4A6;
}
body{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: var(--white);
  color: var(--dark-blue);
}
p, h1, h2, h3, h3, h4, h5, h6{
  margin: 0;
}
.heading_1{
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
  letter-spacing: 0em;
  text-align: left;
}

a{
  text-decoration: none;
}
.container{
  margin: 0 160px;
  padding: 16px 0;
}
.body2{
font-size: 16px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
}
/* header start */
header{
  background:var(--tint-blue);
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul{
  display: flex;
  list-style-type: none;
  align-items: center;
}
header ul li{
  margin: 0 32px 0 0;
}
header ul li a{
  color: #BBBBCB;
}
header ul li a:hover{
  color: var(--white);
}
header .btn_contact_us{
  color:var(--white);
  border: 2px solid rgba(244, 246, 252, 0.2);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  padding: 16px 48px 16px 48px;
  border-radius:41px;
}
header .btn_contact_us:hover{
  background:var(--but-hover-contact-us);
}
/* header FINISH */
/* description_page START */
.description_page{
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 160px;
}
.description_page p{
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  opacity: 70%;
  text-align: center;
}
.description_page h2{
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  margin-top: 4px;
  margin-bottom: 24px;
}
.description_page p:nth-of-type(2){
  max-width: 733px;
}
.description_page .soc_link{
  margin-top: 32px;
}
.description_page .soc_link a{
  margin-right: 75px;
}
.description_page .soc_link a:last-child{
  margin-right: 0;
}
/* description_page END */
/* portfolio START */
.portfolio{
  margin: 96px 160px;

}
.portfolio nav{
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}
.portfolio nav p{
  margin-right: 32px;
}
.portfolio nav p:last-child{
  margin-right: 0px;
}
.portfolio nav p:hover{
  color: var(--royal-blue);
  cursor: pointer;
}
.portfolio .works{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio article .item_case{
  min-width: none;
  max-width: 575px;
  color: var(--dark-blue);
  margin-right: 34px;
  margin-bottom: 64px;
}
.portfolio article .item_case:nth-child(2n+2){
  margin-right: 0;
}
.portfolio article .item_case .back{
  background: linear-gradient(135deg , #F4EDE1, #98B1C6);
  padding: 30px 40px;
  margin-bottom: 24px;
}
.portfolio article section:nth-child(2) .back{
  background: linear-gradient(135deg , #FFD3AF, #4F56FF);
}
.portfolio article section:nth-child(3) .back{
  background: linear-gradient(135deg , #EEBCA7, #C8C8C8);
}
.portfolio article section:nth-child(4) .back{
  background: linear-gradient(135deg , #C2E7F2, #98A4FF);
}
.portfolio article section:nth-child(5) .back{
  background: linear-gradient(135deg , #C5BCFF, #9BF6D5);
}
.portfolio article section:nth-child(6) .back{
  background: linear-gradient(135deg , #D2D6FD, #D6ACEA);
}
.portfolio article .item_case .back img{
  width: 100%;
  height: auto;
}
.portfolio article .item_case h3{
  margin-bottom: 12px;
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
}
.portfolio article .item_case p{
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 70%;
  text-align: justify;
}
.portfolio article .item_case a{
font-size: 16px;
font-weight: 500;
line-height: 24px;
color: var(--dark-blue);
}
.portfolio article .item_case a:after{
  content:"\2192";
  margin-left: 16px;
}
/* portfolio END */
/* contact_us START */
.contact_us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 160px 96px;
}
.contact_us h2{
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  margin-bottom: 20px;
  max-width: 730px;
  text-align: center;
}
.contact_us p{
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  opacity: 70%;
  text-align: center;
  max-width: 562px;
}
.contact_us .contact{
  background: var(--yellow);
  border-radius: 41px;
  padding: 16px 66px;
  color: #1B1C2B;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  margin-top: 40px;
}
/* contact_us END */
/* footer START */
footer{
  background: var(--tint-blue);
}
footer .footer_content{
  color: var(--white);
  margin: 0 160px;
  padding: 32px 0 0 0;
}
footer .description{
  display: flex;
  align-items:start;
}
footer .description p{
  margin: 0;
}
footer .description h2{
  margin: 0;
font-size: 48px;
font-weight: 600;
line-height: 64px;
}
footer .description .left_part{
  width:50%;
}
footer .description .left_part img{
  width: 100%;
  max-width: 160px;
  height: auto;
}
footer .description .left_part p{
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  padding-top: 24px;
  width: 75%;
}
footer .description .right_part{
  width:50%;
}
footer .description .right_part img{
  width: 16px;
  margin-right: 3%;
}
footer .description .right_part p{
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: var(--grey);
  padding-top: 10px;
  padding-bottom: 28px;
}
footer .contacts{
  background: var(--yellow);
  width: 42%;
  display: flex;
  color: var(--dark-blue);
}
footer .contacts div{
  margin: 3% 0 3% 7%;
}
footer .contacts div p:first-child{
font-size: 18px;
font-weight: 500;
line-height: 32px;
margin: 0;
}
footer .contacts div p:last-child{
  margin: 0;
font-size: 16px;
font-weight: 400;
line-height: 28px;
}
/* footer END */
/* navigation  bottom_menu START */
.bottom_menu{
  margin: 0 160px;
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:var(--white);
}
.bottom_menu ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.bottom_menu ul li{
  margin-right: 32px;
}
.bottom_menu ul li:hover{
  cursor:pointer;
}
.bottom_menu ul li a{
 color: var(--dark-blue);
}
.bottom_menu ul li a:hover{
  color: var(--but-hover-contact-us);
}
.bottom_menu ul li:last-child{
  margin-right: 0;
}
/* navigation  bottom_menu END */
