@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
  --body: rgb(228,242,251);
  --text-color: white;
  --main-blue:#00042D;
  --main-white:white;
}
body{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  width: 100%;
  background:var(--body);
 }
.vertical_line{
  height: 100px;
  width: 2.25px;
  background: var(--main-blue);
}
/* header START */
header{
  box-sizing: border-box;
  position: relative;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 57%;
  height: 778px;
  margin: 120px auto 0;
  /* flex-wrap: wrap; */
  background: var(--main-blue);
}
header .title{
  border: 1px solid;
}
header .title button{
  border: 2px solid;
  width: 230px;
  height: 56px;
  color: var(--text-color);
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing:5px;
  text-align: center;
  background: transparent;
  border: 1px solid var(--text-color);
}
header div:first-child{
  width: 478px;
  margin-left: 4%;
  margin-top: 6%;
}
header .menu{
  background: url("../img/logo.png") no-repeat;
  background-position:top right;
  position: absolute;
  top: 417px;
  left: -480px;
  /* border: 1px solid rgb(176, 112, 112); */
  color: var(--text-color);
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing:5px;
  text-align: right;
  display: flex;
  justify-content: space-around;
  align-items:center;
  transform: rotate(-90deg);
}

header .menu .name_author{
  width: 100%;
  /* border: 1px solid rgb(176, 112, 112); */
  color: var(--main-blue);
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing:5px;
  text-align: right;
  margin: 0;
  display: block;
}
header .menu .soc_link{
  width: 100%;
  /* border: 1px solid rgb(176, 112, 112); */
  display: flex;
  color: var(--main-blue);
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing:5px;
  text-align: right;
  margin: 0;
  padding-right: 200px;
}
header .menu .soc_link span{
  margin-right: 35px;
}
header div:last-child{
  width: 22%;
  position: relative;
  left: -5%;
  top: 6%;
}
header div:last-child img{
  margin-left: 5px;
}
header div:first-child h1{
  font-family: "Playfair Display", serif;  
  font-size: 90px;
  font-weight: 400;
  line-height: 90px;
  color: var(--text-color);
  /* border: 1px solid rgb(146, 99, 99); */
  padding: 0;
  margin: 0;
}
header div:first-child p{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
  /* border: 1px solid rgb(146, 99, 99); */
}
header div:first-child p .bold_italic{
  font-weight: 600;
  font-style: italic;
}
/* header END */

/* section 1 - about START */
.about{
  border: 1px solid var(--main-white);
  background: var(--main-white);
  width: 57%;
  height: 640px;
  margin: 0 auto;
  padding-left: 4%;
  padding-right: 8%;
  box-sizing: border-box;
}
.about h2{
  font-family: "Playfair Display", serif;  
  font-size: 50px;
  font-weight: 400;
  line-height: 94.5px;
  color: var(--main-blue);
  margin-bottom: 2%;
}
.about .vertical_line{
  height: 100px;
  width: 2.25px;
  background: var(--main-blue);
}
.about p{
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: var(--main-blue);
}
.about p:last-child{
  font-size: 15px;
  font-weight: 400;
}
/* section 1 - about END */
/* section 2 - service START */
.service{
  border: 1px solid var(--main-blue);
  background: var(--main-blue);
  width: 57%;
  height: 329px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  color: var(--text-color);
  padding: 0 4%;
}
.service p{
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
/* section 2 - service END */
/* section 3 - experience START */
.experience{
  border: 1px solid var(--main-white);
  background: var(--main-white);
  width: 57%;
  height: 952px;
  margin: 0 auto;
  padding-left: 4%;
  padding-right: 8%;
  box-sizing: border-box;
  color: var(--main-blue);
}
.experience .description{
  border-bottom: 2px solid var(--main-blue);
  padding-bottom: 8px;
}
.experience .description p:nth-of-type(1){
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.experience .description p:nth-of-type(2){
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}
.experience .description p:nth-of-type(3){
  font-size: 15px;
  font-weight: 400;
}
.experience .skills{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  border-bottom: 2px solid var(--main-blue);
  padding-bottom: 8px;
  margin-top: 32px;
}

/* section 3 - experience END */



/* section  -  START */
/* section  -  END */


