@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --menu_hover:#4270EC;
  --text_p: #1E1C31;
  --content: rgba(30, 28, 49, 0.5);
  --button:rgba(66, 112, 236, 1);
  /* --button_hover:rgba(255, 255, 255, 1); */
  --color_button_txt: rgb(255, 255, 255);
  --switch: #B3C7F8;
}

body{
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color:var(--text_p);
}
.left_top_gradient{
  background: url("../img/bg_left_top.png") no-repeat ;
  background-position: 90% 90%;
  position: absolute;
  width: 718px;
  height: 718px;
  border-radius: 100%;
  top: -267px;
  left: -400px;
  opacity: 0.7; 
  z-index: -10;
}

h2{
  font-size: 48px;
  font-weight: 600;
  margin:0;
}
.section_topic{
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
}
button{
  background: var(--button);
  border: 0px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
  color:var(--color_button_txt);
  padding: 19px 37px;
  margin-top: 62px;
}
/* head START*/
header{
  width: 80%;
  margin: 0 auto;
  position: relative;
  padding: 50px 0 105px 0;
}
header nav{
  position: absolute;
  top: 50px;
  right: 18px;
  width: 50%;
}
header nav ul{
  margin: 0;
  padding: 0;
  display: flex;
  align-items:center;
  justify-content: space-around;
}
header nav ul li{
  list-style-type: none;
}
header nav ul li a{
  padding: 0;
  text-decoration: none;
  color: var(--text_p);
  font-size: 14px;
}
header nav ul li a:hover{
  color: var(--menu_hover);
  font-weight: 600;
}
main section{
  margin-bottom: 200px;
}
/* head FINISH*/

/* section 1 - START*/
section .content_top{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.block_1 .content_left{
  width: 50%;
  margin-right: 27px;
}
.block_1 .content_left h1{
  font-size: 60px;
  font-weight: 600;
  margin:0;
  line-height: 76px;
}
.block_1 .content_left h1 ~ p {
  font-size: 18px;
  font-weight: 400;
  color: var(--content);
}
.block_1 .content_right{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: 27px;
}
.block_1 .content_right > div{
  padding-left: 10px;
  width: 100%;
}
section .content_bottom{
  display: flex;
  width: 80%;
  margin: 110px auto 0;
  justify-content: space-between;
}
section .content_bottom article{
  display: flex;
  width: 30%;
}
.block_1 .content_bottom .topic{
  border-radius: 17px;
  margin-right: 10px;
  width: 70px;
  height: 70px;
}
.content_bottom h2{
  font-size: 18px;
  font-weight: 500;
  color: var(--text_p);
  margin-top: 0;
}

.content_bottom article div p{
  font-size: 14px;
  font-weight: 400;
  color: var(--content);
  line-height: 22px;
}
/* section 1  - FINISH*/

/* section 2  - START*/
.block_2{
  position: relative;
}
.block_2 .content{ 
  display: flex;
  justify-content: left;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.block_2 .content .content_left{
  flex-basis: 50%;
}
.block_2 .content .content_right{
  flex-basis: 50%;
}
.block_2 .content .content_right h2{
  margin: 26px 0 55px 0;
  line-height: 61px;
}
.block_2 .content .content_right h2 ~ p {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: var(--content);
  margin: 0;
}
.bg_center{
  position: absolute;
  background: url("../img/bg_center.png") no-repeat center/cover;
  width: 496px;
  height: 496px;
  top: 450px;
  left: 88%;
  z-index: -10;
}
/* section 2  - FINISH*/

/* section 3  - START*/
.block_3 .content_top .content_left{
  width: 50%;
  margin-right: 5px;
}
.block_3 .content_top .content_right{
  width: 50%;
  margin-left: 5px;
}
.block_3 .description_topic{
  color:var(--content);
  line-height: 25px;
}
.block_3 .content_right a{
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  color: var(--button);
  text-decoration: none;
}
.block_3 .content_bottom {
  padding: 0;
  margin: 0;
  width: 80%;
  margin: 100px auto 0;
  display: flex;
  justify-content: space-between;
}
.block_3 .title{
  flex-basis: 30%;
  position: relative;
}
.block_3 .title .icons{
  position: absolute;
  top: 400px;
  right: 30px;
}
.block_3 .title .icons span{
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding-top: 6px;
  padding-left: 4px;
  padding-right: 2px;
  width: 50px;
  height: 50px;
  font-size: 25px;
  color: var(--button);
  border-radius: 100%;
  background: white;
  cursor: pointer;
}
/* section 3  - FINISH*/

/* section 4  - START*/
.block_4{
  width: 80%;
  margin: 0 auto 200px;
  text-align: center;
}
.block_4 .content_top{
  display: block;
}
.block_4 .content_bottom{
  background: url(../img/team.png) no-repeat center, url(../img/bg_bottom.png) no-repeat center;
  height: 407px;
  width: 961px;
  align-items:end;
  margin-top: 0;
}
.block_4 h2{
  line-height: 61px;
}
.block_4 .description_client{
  font-size: 14px;
  font-weight: 400px;
  line-height: 22px;
  width: 50%;
  margin: 0 auto;
}
.block_4 .description_client p:nth-child(2){
  color: var(--text_p);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  margin:0;
  text-transform: uppercase;
}
.block_4 .description_client p:nth-child(3){
  color: var(--text_p);
  font-size: 12px;
  line-height: 24px;
  margin:0;
  text-transform: uppercase;
}
.block_4 .switch{
  display: flex;
  justify-content: space-between;
  width: 72px;
  margin: 50px auto 0;
}
.block_4 .switch span{
  width: 10px;
  height: 10px;
  background: var(--switch);
  border-radius: 100%;
  /* padding-right:10px; */
}
.block_4 .switch span:hover{
  /* width: 12px;
  height: 12px; */
  background:var(--menu_hover);
  cursor: pointer;
}
/* section 4  - FINISH*/

/* section 5  - START*/
.block_5 .content_top{
  display: block;
  text-align: center;
}
.block_5 .content_bottom{
  margin-top: 90;
}
.block_5 .content_bottom article{
  display: block;
  flex-basis: 100%;
}
.block_5 .content_bottom article img{
  width: 90%;
  margin-right: 50px;
}
.block_5 .content_bottom article .date{
  font-size:12px;
  font-weight: 500;
  line-height: 19px;
  color: rgba(30, 28, 49, 0.6);
}
.block_5 .content_bottom article p{
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
.block_5 .content_bottom article a{
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color:var(--menu_hover);
}
.block_5 .content_bottom article a:hover{
  cursor: pointer;
}
/* section 5  - FINISH*/

/* section 6  - START */
.block_6{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 300px;
  margin: 0 auto 160px;
  border-radius: 30px;
  background: linear-gradient(to right, #527FF6 50%,#E16DD9 87%,#FFCC70 100%)
}
.block_6 div{
  margin-right: 150px;
}
.block_6 h2{
  font-size: 40px;
  font-weight: 600;
  line-height: 51px;
  color: #fff;
}
.block_6 button{
  background: #fff;
  color: #4270EC;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  margin:0;
}
/* section 6  - FINISH */
/* footer  - START */
/*footer, footer img , footer .contact,footer .about, footer .social{
  border: 1px solid;
}*/
footer{
  display: flex;
  justify-content: center;
  align-self: stretch;
  width: 80%;
  height: 194px;
  margin: 0 auto 150px;
}
footer .img{
  width: 100%;
}
footer img{
  margin-right: 150px;
  width: 65px;
  height:20px;
}

footer .contact p, footer .about p{
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(34, 33, 54, 0.7);
  margin: 0;
}
footer .contact .top, footer .about .top{
  margin-top: 30px;
}
footer .about p{
  line-height: 24px;
  padding-left: 10px;
  display: inline-block;
  width: 200px;
}
footer h3{
  margin: 0;
  padding-left: 10px;
}
.contact, .img, .about, .social{
  min-width: 25%;
}
footer .social input{
  border: none;
  background:url("../img/input_send.png")  no-repeat center right 15px, rgba(236, 240, 252, 1);
  border-radius: 9px;
  width: 90%;
  height: 40px;
  content: "sadasd";
  color: rgba(34, 33, 54, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
footer .social input[placeholder]{
  padding-left:20px;
}
footer .social input ~ h3{
  margin-top: 27px;
}
footer .social .soc_link span{
  display: inline-block;
  width: 26px;
  height: 26px;
  /* border: 1px solid; */
  margin-left: 7px;
}
footer .social .soc_link span:hover{
  cursor: pointer;
}
footer .social .soc_link .img_1{
  background: url("../img/fb.png") no-repeat center center/cover;
}
footer .social .soc_link .img_2{
  background: url("../img/twit.png") no-repeat center center/cover;
}
footer .social .soc_link .img_3{
  background: url("../img/insta.png") no-repeat center center/cover;
}


.bg_footer{
  position: absolute;
  width: 351px;
  height: 460px;
  background: url(../img/bg_footer.png);
  z-index: -2;
  bottom: -205px;
}