@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
  --body: rgb(228,242,251);
  --text-color: white;
  --main-blue:#00042D;
  --main-white:white;
}
/* *{
  border: 1px solid red
} */
body{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  width: 100%;
  background:var(--body);
 }
.vertical_line{
  height: 100px;
  width: 2.25px;
  margin-bottom: 40px;
  background: var(--main-blue);
}
h2{
  font-family: "Playfair Display", serif;  
  font-size: 50px;
  font-weight: 400;
  line-height: 94.5px;
  color: var(--main-white);
  margin:0;
  padding-top: 10%;
}
a{
  text-decoration: none;
  color:var(--main-blue);
  cursor: pointer;
}
button:hover{
  cursor: pointer;
}
/* header START */
header{
  box-sizing: border-box;
  position: relative;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 57%;
  margin: 120px auto 0;
  padding-bottom: 143px;
  background: var(--main-blue);
}
header .title button{
  width: 230px;
  height: 56px;
  color: var(--text-color);
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing:5px;
  text-align: center;
  background: transparent;
  border: 1px solid var(--text-color);
  text-transform: uppercase;
}
header div:first-child{
  width: 478px;
  margin-left: 4%;
  margin-top: 6%;
}
header .menu{
  background: url("../img/logo.png") no-repeat;
  background-position:top right;
  position: absolute;
  top: 435px;
  left: -480px;
  color: var(--text-color);
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing:5px;
  text-align: right;
  display: flex;
  justify-content: space-around;
  align-items:center;
  transform: rotate(-90deg);
}

header .menu .name_author{
  width: 100%;
  color: var(--main-blue);
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing:5px;
  text-align: right;
  margin: 0;
  display: block;
  padding-right: 30px;
}
header .menu .soc_link{
  width: 100%;
  display: flex;
  color: var(--main-blue);
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing:5px;
  text-align: right;
  margin: 0;
  padding-right: 200px;
}
header .menu .soc_link span{
  margin-right: 35px;
}
header .portrait{
  width: 424px;
  position: relative;
  left: 18%;
  margin-top: 6%;
}
header div:last-child img{
  width: 100%;
}
header div:last-child img{
  margin-left: 5px;
}
header div:first-child h1{
  font-family: "Playfair Display", serif;  
  font-size: 90px;
  font-weight: 400;
  line-height: 90px;
  color: var(--text-color);
  padding: 0;
  margin: 0;
}
header div:first-child p{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
}
header div:first-child p .bold_italic{
  font-weight: 600;
  font-style: italic;
}
/* header END */
/* section 1 - about START */
.about{
  border: 1px solid var(--main-white);
  background: var(--main-white);
  width: 57%;
  padding-bottom: 80px;
  margin: 0 auto;
  padding-left: 4%;
  padding-right: 8%;
  box-sizing: border-box;
}
.about h2{
  font-family: "Playfair Display", serif;  
  font-size: 50px;
  font-weight: 400;
  line-height: 94.5px;
  color: var(--main-blue);
  margin-bottom: 2%;
}
.about .vertical_line{
  height: 100px;
  width: 2.25px;
  background: var(--main-blue);
}
.about p{
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: var(--main-blue);
}
.about p:last-child{
  font-size: 15px;
  font-weight: 400;
}
/* section 1 - about END */
/* section 2 - service START */
.service{
  border: 1px solid var(--main-blue);
  background: var(--main-blue);
  width: 57%;
  height: 329px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  color: var(--text-color);
  padding: 0 4%;
}
h2{
  color: var(--main-blue);
}
.service p{
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.service img{
  width: 100%;
  height: auto;
}
/* section 2 - service END */
/* section 3 - experience START */
.experience{
  border: 1px solid var(--main-white);
  background: var(--main-white);
  width: 57%;
  margin: 0 auto;
  padding-left: 4%;
  padding-right: 8%;
  padding-bottom: 80px;
  box-sizing: border-box;
  color: var(--main-blue);
}
.experience .description{
  border-bottom: 2px solid var(--main-blue);
  padding-bottom: 8px;
}
.experience .description p:nth-of-type(1){
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.experience .description p:nth-of-type(2){
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}
.experience .description p:nth-of-type(3){
  font-size: 15px;
  font-weight: 400;
}
.experience .direction{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  border-bottom: 2px solid var(--main-blue);
  padding-bottom: 8px;
  margin-top: 32px;
}
/* section 3 - experience END */
/* section 4 - portfolio START */
.portfolio{
  background: var(--main-blue);
  width: 57%;
  margin: 0 auto;
  padding-left: 4%;
  padding-right: 4%;
  box-sizing: border-box;
  color: var(--main-white);
  padding-bottom: 80px;
}
.portfolio h2{
  color: var(--main-white);
}
.portfolio .vertical_line{
  background: var(--main-white);
}
.portfolio img{
  width: 100%;
  height: auto;
}
.portfolio div span{
  font-size: 20px;
  margin-right: 5px;
}
.portfolio div{
  font-family: "Playfair Display", serif;  
  font-size: 50px;
  font-weight: 400;
  line-height: 94.5px;
}
/* section 4 - portfolio END */
/* section 5 - Education START */
.education{
  background: var(--main-white);
  width: 57%;
  margin: 0 auto;
  padding-left: 4%;
  padding-right: 4%;
  box-sizing: border-box;
  color: var(--main-blue);
  padding-bottom: 80px;
}
.education p:nth-of-type(1){
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.education p:nth-of-type(2){
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}
.education .point{
  display: flex;
  justify-content: left;
  align-items:stretch;
}
.education .point div:first-child{
  font-family: Montserrat;
font-size: 15px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0px;
text-align: left;

}
.education .point p{
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.education .circle_line{
  border-left: 2px solid black;
  margin-left: 30px;
  margin-right: 30px;
}

.education .last{
  border-left: none;
  margin-left: 30px;
  margin-right: 30px;
}
.education .last:after{
  content:'';
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #000;
  border: 2px solid #fff;
  position: relative;
  left: -7px;
  top: -16px;
}
.education .circle_line:before{
  content:'';
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #000;
  position: relative;
  left: -11px;
}
/* section 5 - Education END */
/* section 6 - skills START */
.skills{
  border: 1px solid var(--main-white);
  background: var(--main-blue);
  width: 57%;
  margin: 0 auto;
  padding-left: 4%;
  padding-right: 8%;
  padding-bottom: 80px;
  box-sizing: border-box;
  color: var(--main-white);
}
.skills h2{
  color: var(--main-white);
}
.skills .vertical_line{
  background: var(--main-white);
}

.skills .items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 23px;
}
.skills .items .line{
  border: 1px solid var(--main-white);
  width: 90%;
}
.skills .items p{
  border: 2px solid var(--main-white);
  font-weight: 500;
  font-size: 10px;
  line-height: 30px;
  letter-spacing: 6px;
  margin: 0;
  padding-left: 10px;
}
.skills .items .photoshop {
  width: 62%;
}
.skills .items .illustrator {
  width: 84%;
}
.skills .items .market {
  width: 78%;
}
.skills .items .mario {
  width: 92%;
}
.skills .items .digit {
  width: 58%;
}
.skills .items div:last-child{
  font-weight: 400;
  font-size: 22px;
  line-height: 71px;
  letter-spacing: -1px;
  margin-left: 10px;
}
/* section 6 - skills END */
/* section 7 - Cover Letter START */
.cover_letter{
  background: var(--main-white);
  width: 57%;
  margin: 0 auto;
  padding-left: 4%;
  padding-right: 4%;
  box-sizing: border-box;
  color: var(--main-blue);
  padding-bottom: 80px;
}
.cover_letter p:nth-of-type(1){
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.cover_letter p{
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}
/* section 7 - Cover Letter END */
/* section 8 - Contact START */
.contact{
  border: 1px solid var(--main-white);
  background: var(--main-blue);
  width: 57%;
  margin: 0 auto;
  padding-left: 4%;
  padding-right: 8%;
  padding-bottom: 80px;
  box-sizing: border-box;
  color: var(--main-white);
}
.contact .vertical_line{
  background: var(--main-white);
}
.contact h2{
  color: var(--main-white);
}
.contact button{
  margin-top: 57px;
  width: 230px;
  height: 56px;
  color: var(--text-color);
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing:5px;
  text-align: center;
  background: transparent;
  border: 1px solid var(--text-color);
  text-transform: uppercase;
}
.contact p:nth-of-type(1){
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.contact p{
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}
.contact p span{
  font-weight: 700;
}
.contact form{
  display: flex;
  flex-direction: column;

}
.contact form input{
  border: none;
  background: var(--main-blue);
  border-bottom: 3px solid var(--main-white);
  height: 67px;
}
.contact form input:nth-of-type(3){
  height: 100px;
}
.contact form input[placeholder]{
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 5px;
  padding-left: 10px;
  color: #FFFFFFB2;
}
/* section 8 - Contact END */
/* footer - START */
footer{
  background: var(--main-white);
  width: 57%;
  margin: 0 auto;
  padding-left: 4%;
  padding-right: 4%;
  box-sizing: border-box;
  color: var(--main-blue);
  padding-bottom: 80px;
}
footer .soc_icons{
  display: flex;
  align-items: center;
  padding-top: 10%;
}
footer .soc_icons img{
  margin-left: 26px;
}
footer .soc_icons img:first-child{
  margin-left: 0;
}
footer p{
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
}
/* footer - END */